<section class="grid-container usa-section usa-prose why-search-gov">
    <div>
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Why use <strong>Search.gov?</strong></h2>
        <p>Build public trust through transparency and easy access to government information and services. Gain insight into how people use your website and search, and what that means for content and the user interface. Our partners agree that Search.gov’s robust wealth of knowledge, and personalized, free service are indispensable:</p>
        <ul>
            <li>Reliable and easy to use.</li>
            <li>Technical support among the best in federal government.</li>
            <li>Available at no cost for federal government agency websites.</li>
        </ul>
        <a class="usa-button" href="{{ site.baseurl }}/about/why-choose-searchgov.html">Get started today</a>
    </div>
</section>
